<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Preliminaries

In [1]:
# Required standard libraries
import pandas as pd
import json
import urllib
import requests
import os
import re
import numpy as np
import bs4 as bs
import selenium
import html5lib
import nltk
from selenium import webdriver

# Extractors (cluster specific)
import extract
# from extract.unesco_extractor import extract_unesco_api_data
# from extract.ilo_extractor import extract_ilo_api_data
# from extract.sdg_extractor import extract_sdg_api_data
# from extract.who_extractor import extract_who_api_data
# from extract.un_treaty_extractor import extract_un_treaties_data
# from extract.ilo_normlex_extractor import extract_ilo_normlex_data

# from extract import save_raw_data

# Cleansers (cluster specific)
import cleanse
# from cleanse.unesco_cleanser import cleanse_unesco_api_data
# from cleanse.ilo_cleanser import cleanse_ilo_api_data
# from cleanse.sdg_cleanser import cleanse_sdg_api_data
# from cleanse.who_cleanser import cleanse_who_api_num_data
# from cleanse.un_treaty_cleanser import cleanse_un_treaty_data
# from cleanse.wpac_cleanser import cleanse_wpac_data

# from cleanse.save_cleansed_data import save_cleansed_data 

# Normalizer (generalised across all clusters)
from normalize import scaler
# from normalize import save_normalized_data

# Utils
from utils import utils

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
# Define the export path for all data exports
from pathlib import Path

# CUrrent working directory
cwd = Path('.')

# Folder with data-in artifacts, quired to run this script
data_in = cwd / 'data_in'

# Folder to export raw data
data_sources_raw = cwd / 'data_out' / 'data_raw'
data_sources_raw.mkdir(parents=True, exist_ok=True)

# Folder to export cleansed data
data_sources_cleansed = cwd / 'data_out' / 'data_cleansed'
data_sources_cleansed.mkdir(parents=True, exist_ok=True)

# Folder to export normalized data
data_sources_normalized = cwd / 'data_out' / 'data_normalized'
data_sources_normalized.mkdir(parents=True, exist_ok=True)

In [3]:
# Load the list of countries which contains all different variations of country names 
country_full_list = pd.read_excel(
    data_in / 'all_countrynames_list.xlsx',
    keep_default_na = False).drop_duplicates()

# Create a version of the list with unique ISO2 and ISO3 codes
country_iso_list = country_full_list.drop_duplicates(subset = 'CountryIso2')

# Country CRBA list, this is the list of the countries that should be in the final CRBA indicator list
country_crba_list = pd.read_excel(
    data_in / 'crba_country_list.xlsx',
    header = None,
    usecols = [0, 1], 
    names = ['COUNTRY_ISO_3', 'COUNTRY_NAME']).merge(
        right = country_iso_list,
        how = 'left',
        left_on = 'COUNTRY_ISO_3',
        right_on = 'CountryIso3',
        validate = 'one_to_one')[
    ['COUNTRY_ISO_3', 'COUNTRY_NAME', 'CountryIso2']].rename(
    columns = {'CountryIso2': "COUNTRY_ISO_2"})

## Read data dictionary

In [4]:
# sources sheet
crba_data_dictionary_source = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Source",
    keep_default_na = False
)

# snapshot sheet
crba_data_dictionary_snapshot = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Snapshot",
    keep_default_na = False
)

# indicator sheet
crba_data_dictionary_indicator = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Indicator",
    keep_default_na = False
)

# Input lists
crba_data_dictionary_input_list = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Input_Lists",
    keep_default_na = False
)

# Add 2-digit shortcodes of index, issue and category to indicators sheet
crba_data_dictionary_indicator = crba_data_dictionary_indicator.merge(
    right=crba_data_dictionary_input_list[['INDEX', 'INDEX_CODE']],
    left_on='INDEX',
    right_on='INDEX',
).merge(
    right=crba_data_dictionary_input_list[['ISSUE', 'ISSUE_CODE']],
    left_on='ISSUE',
    right_on='ISSUE',
).merge(
    right=crba_data_dictionary_input_list[['CATEGORY', 'CATEGORY_CODE']],
    left_on='CATEGORY',
    right_on='CATEGORY',
)

# Create indicator code prefix (INDEX-ISSUE_CAEGORY CODE)
crba_data_dictionary_indicator = crba_data_dictionary_indicator.assign(
    INDICATOR_CODE_PREFIX = crba_data_dictionary_indicator.INDEX_CODE +
    "_" +
    crba_data_dictionary_indicator.ISSUE_CODE+
    "_"+
    crba_data_dictionary_indicator.CATEGORY_CODE+
    "_")

# Create indicator code
crba_data_dictionary_indicator = crba_data_dictionary_indicator.assign(
    INDICATOR_CODE = crba_data_dictionary_indicator.INDICATOR_CODE_PREFIX + crba_data_dictionary_indicator.INDICATOR_NAME.apply(
    lambda x: utils.create_ind_code(x)
))

In [5]:
import importlib, inspect

extractors = { 
    cls.type: cls for name, cls in inspect.getmembers(
        importlib.import_module("extract"), 
        inspect.isclass
    ) if hasattr(cls, 'type')
}

# Implementation

Developing with one example: S-55

In [7]:
# Extract data
s55_raw = extract.CSVExtractor.extract(url =
    'https://api.uis.unesco.org/sdmx/data/UNESCO,SDG4,2.0/ROFST.PT.L2+L2_3+L3._T._T+F+M.SCH_AGE_GROUP._T.INST_T._Z._T._Z._Z._Z._T._T._Z._Z._Z.?startPeriod=2005&endPeriod=2018&format=csv-sdmx&locale=en&subscription-key=460ab272abdd43c892bb59c218c22c09'
)

s55_raw.to_csv(data_sources_raw / "S_55_raw.csv")

The following columns are present in the datasets, and this is the number of unique values they have.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 3 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column SUBJECT has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column INFRASTR has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column SOURCE_FUND has 1 unique values.
The column FUND_FLOW has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column REF_AREA has 326 unique values.
The column TIME_PERIOD has 14 unique values.
The column OBS_VALUE has 26627 unique values.
The column UNIT_MULT has 1 unique values.
The column OBS_STATUS has 3 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.

In [8]:
s55_cleansed = cleanse.Cleanser.cleanse(
    raw_data = s55_raw,
    raw_data_iso_2_col = 'REF_AREA',
    country_df = country_crba_list,
    country_df_iso2_col = 'COUNTRY_ISO_2',
    non_dim_cols = ['OBS_VALUE', 'TIME_PERIOD', 'OBS_STATUS']
)

s55_cleansed.to_csv(data_sources_raw / "S_55_cleansed.csv")

In [9]:
from normalize.scaler import normalizer

s55_normalized = normalizer(
    cleansed_data = s55_cleansed,
    indicator_raw_value = 'OBS_VALUE',
    indicator_code = 'WP_DW_OC_FREASS',
    indicator_name = 'Out-of-school adolescents (lower secondary)',
    indicator_index = 'Workplace',
    indicator_issue = 'Decent working conditions',
    indicator_category = 'Outcome',
    cleansed_df_iso2_col = 'REF_AREA',
    crba_final_country_list = country_crba_list,
    crba_final_country_list_iso_col = 'COUNTRY_ISO_2',
    inverted = True,
    non_dim_cols = [
        'TIME_PERIOD', 
        'REF_AREA', 
        'OBS_VALUE', 
        'OBS_STATUS', 
        'COUNTRY_ISO_3', 
        'COUNTRY_NAME', 
        'COUNTRY_ISO_2', 
        '_merge'
    ])

s55_normalized

You have a selected a few columns, which will not be regarded as dimensions.These are the remaining columns in the dataset, along with the number of values they take in the dataset.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 3 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column SUBJECT has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column INFRASTR has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column SOURCE_FUND has 1 unique values.
The column FUND_FLOW has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column UNIT_MULT has 1 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.
The total number of subgroups in the dataset is therefore: 9

 -

In the loop we are currently dealing with the subset #1, which has these defining values:

 Empty DataFrame
Columns: [Dataflow, STAT_UNIT, UNIT_MEASURE, EDU_LEVEL, EDU_CAT, SEX, AGE, GRADE, SECTOR_EDU, EDU_ATTAIN, SUBJECT, WEALTH_QUINTILE, INFRASTR, LOCATION, EDU_TYPE, SE_BKGRD, SOURCE_FUND, FUND_FLOW, IMM_STATUS, UNIT_MULT, FREQ, DECIMALS]
Index: []

[0 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (0, 30)


Dataframe is empty. There are no values to append.

 This is the end of loop #1.
 -


 -

In the loop we are currently dealing with the subset #2, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1387  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1387  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1387       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1387        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (163, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 43.630325000000006
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.00589. This value corresponds to country: 739    Lithuania
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #2.
 -


 -

In the loop we are currently dealing with the subset #3, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1395  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1395  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1395       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1395        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (160, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 83.84053. This value corresponds to country: 1317    Tanzania
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.67013. This value corresponds to country: 128    Belgium
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #3.
 -


 -

In the loop we are currently dealing with the subset #4, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1394  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1394  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1394       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1394        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (160, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 89.7091. This value corresponds to country: 255    Central African Republic
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.07972. This value corresponds to country: 941    New Zealand
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #4.
 -


 -

In the loop we are currently dealing with the subset #5, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1393  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1393  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1393       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1393        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (165, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 86.14805. This value corresponds to country: 958    Niger
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06444. This value corresponds to country: 931    Netherlands
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #5.
 -


 -

In the loop we are currently dealing with the subset #6, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1392  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1392  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1392       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1392        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (161, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 65.25736
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.08982000000000001. This value corresponds to country: 1193    Singapore
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #6.
 -


 -

In the loop we are currently dealing with the subset #7, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1391  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1391  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1391       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1391        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (161, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 66.091475
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06039. This value corresponds to country: 616    Ireland
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #7.
 -


 -

In the loop we are currently dealing with the subset #8, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1390  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1390  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1390       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1390        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (162, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 69.8756925
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.07741. This value corresponds to country: 1191    Singapore
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #8.
 -


 -

In the loop we are currently dealing with the subset #9, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1389  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1389  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1389       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1389        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (155, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 43.3836
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06477999999999999. This value corresponds to country: 656    Kazakhstan
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #9.
 -


 -

In the loop we are currently dealing with the subset #10, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1388  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1388  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1388       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1388        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (155, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 45.940870000000004
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.09435. This value corresponds to country: 740    Lithuania
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #10.
 -

The number of rows of the final dataframe (before the conversion from wide to long format is) is divisible by 195. It is: (585, 38)

,Dataflow,STAT_UNIT,UNIT_MEASURE,EDU_LEVEL,EDU_CAT,SEX,AGE,GRADE,SECTOR_EDU,EDU_ATTAIN,...,COUNTRY_ISO_3_y,COUNTRY_NAME_y,COUNTRY_ISO_2_y,RJ_CRBA_FULL_LIST,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,CRBA_RELEASE_YEAR,INDICATOR_CODE
0,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,AFG,Afghanistan,AF,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
1,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,ALB,Albania,AL,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AND,Andorra,AD,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DZA,Algeria,DZ,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
4,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,AGO,Angola,AO,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,VEN,Venezuela,VE,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VNM,Vietnam,VN,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
192,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,YEM,Yemen,YE,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ZMB,Zambia,ZM,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
194,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,ZWE,Zimbabwe,ZW,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS