<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Preliminaries

In [1]:
# Required standard libraries
import pandas as pd
import json
import urllib
import requests
import os
import re
import numpy as np
import bs4 as bs
import selenium
import html5lib
import nltk
from selenium import webdriver

# Extractors (cluster specific)
import extract
# from extract.unesco_extractor import extract_unesco_api_data
# from extract.ilo_extractor import extract_ilo_api_data
# from extract.sdg_extractor import extract_sdg_api_data
# from extract.who_extractor import extract_who_api_data
# from extract.un_treaty_extractor import extract_un_treaties_data
# from extract.ilo_normlex_extractor import extract_ilo_normlex_data

# from extract import save_raw_data

# Cleansers (cluster specific)
import cleanse
# from cleanse.unesco_cleanser import cleanse_unesco_api_data
# from cleanse.ilo_cleanser import cleanse_ilo_api_data
# from cleanse.sdg_cleanser import cleanse_sdg_api_data
# from cleanse.who_cleanser import cleanse_who_api_num_data
# from cleanse.un_treaty_cleanser import cleanse_un_treaty_data
# from cleanse.wpac_cleanser import cleanse_wpac_data

# from cleanse.save_cleansed_data import save_cleansed_data 

# Normalizer (generalised across all clusters)
from normalize import scaler
# from normalize import save_normalized_data

# Utils
from utils import utils

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
# Define the export path for all data exports
from pathlib import Path

# CUrrent working directory
cwd = Path('.')

# Folder with data-in artifacts, quired to run this script
data_in = cwd / 'data_in'

# Folder to export raw data
data_sources_raw = cwd / 'data_out' / 'data_raw'
data_sources_raw.mkdir(parents=True, exist_ok=True)

# Folder to export cleansed data
data_sources_cleansed = cwd / 'data_out' / 'data_cleansed'
data_sources_cleansed.mkdir(parents=True, exist_ok=True)

# Folder to export normalized data
data_sources_normalized = cwd / 'data_out' / 'data_normalized'
data_sources_normalized.mkdir(parents=True, exist_ok=True)

In [3]:
# Load the list of countries which contains all different variations of country names 
country_full_list = pd.read_excel(
    data_in / 'all_countrynames_list.xlsx',
    keep_default_na = False).drop_duplicates()

# Create a version of the list with unique ISO2 and ISO3 codes
country_iso_list = country_full_list.drop_duplicates(subset = 'CountryIso2')

# Country CRBA list, this is the list of the countries that should be in the final CRBA indicator list
country_crba_list = pd.read_excel(
    data_in / 'crba_country_list.xlsx',
    header = None,
    usecols = [0, 1], 
    names = ['COUNTRY_ISO_3', 'COUNTRY_NAME']).merge(
        right = country_iso_list,
        how = 'left',
        left_on = 'COUNTRY_ISO_3',
        right_on = 'CountryIso3',
        validate = 'one_to_one')[
    ['COUNTRY_ISO_3', 'COUNTRY_NAME', 'CountryIso2']].rename(
    columns = {'CountryIso2': "COUNTRY_ISO_2",
               'COUNTRY_NAME' : "REF_AREA"})

## Read data dictionary

In [4]:
# sources sheet
crba_data_dictionary_source = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Source",
    keep_default_na = False
)

# snapshot sheet
crba_data_dictionary_snapshot = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Snapshot",
    keep_default_na = False
)

# indicator sheet
crba_data_dictionary_indicator = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Indicator",
    keep_default_na = False
)

# Input lists
crba_data_dictionary_input_list = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Input_Lists",
    keep_default_na = False
)

# Add 2-digit shortcodes of index, issue and category to indicators sheet
crba_data_dictionary_indicator = crba_data_dictionary_indicator.merge(
    right=crba_data_dictionary_input_list[['INDEX', 'INDEX_CODE']],
    left_on='INDEX',
    right_on='INDEX',
).merge(
    right=crba_data_dictionary_input_list[['ISSUE', 'ISSUE_CODE']],
    left_on='ISSUE',
    right_on='ISSUE',
).merge(
    right=crba_data_dictionary_input_list[['CATEGORY', 'CATEGORY_CODE']],
    left_on='CATEGORY',
    right_on='CATEGORY',
)

# Create indicator code prefix (INDEX-ISSUE_CAEGORY CODE)
crba_data_dictionary_indicator = crba_data_dictionary_indicator.assign(
    INDICATOR_CODE_PREFIX = crba_data_dictionary_indicator.INDEX_CODE +
    "_" +
    crba_data_dictionary_indicator.ISSUE_CODE+
    "_"+
    crba_data_dictionary_indicator.CATEGORY_CODE+
    "_")

# Create indicator code
crba_data_dictionary_indicator = crba_data_dictionary_indicator.assign(
    INDICATOR_CODE = crba_data_dictionary_indicator.INDICATOR_CODE_PREFIX + crba_data_dictionary_indicator.INDICATOR_NAME.apply(
    lambda x: utils.create_ind_code(x)
))

In [5]:
import importlib, inspect

extractors = { 
    cls.type: cls for name, cls in inspect.getmembers(
        importlib.import_module("extract"), 
        inspect.isclass
    ) if hasattr(cls, 'type')
}

# Extract
## API sources
### CSV API sources

In [8]:
# CSV sources
api_sources = crba_data_dictionary_source[
    (crba_data_dictionary_source["SOURCE_TYPE"] == "API (ILO)") | 
    (crba_data_dictionary_source["SOURCE_TYPE"] == "API (UNESCO)") | 
    (crba_data_dictionary_source["SOURCE_TYPE"] == "API (WHO)")
]

# Loop to extract data from API sources
for index, row in api_sources.iterrows():
    print("\n - - - - - \n Extracting source {} \n".format(row["SOURCE_ID"]))
    try:
        dataframe = extract.CSVExtractor.extract(url = row["ENDPOINT_URL"])
        dataframe.to_csv(data_sources_raw / str(row["SOURCE_ID"] + "_raw.csv"))
    except:
        print("There was an issue with source {}".format(row["SOURCE_ID"]))

attributes.Units has 1 unique values.
The column dimensions.Age has 5 unique values.
The column dimensions.Sex has 3 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-61
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 142 unique values.
The column geoAreaName has 142 unique values.
The column timePeriodStart has 15 unique values.
The column value has 375 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 1 unique values.
The column dimensions.Sex has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-62
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 208 unique values.
The column geoAreaName has 208 unique values.
The column timePeriodStart has 29 unique values.
The column value has 86 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 11 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-71
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 113 unique values.
The column geoAreaName has 113 unique values.
The column timePeriodStart has 4 unique values.
The column value has 66 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 2 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 2 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Sex has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-78
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 141 unique values.
The column geoAreaName has 141 unique values.
The column timePeriodStart has 18 unique values.
The column value has 631 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 150 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 157 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.
The column dimensions.Quantile has 2 unique values.

 - - - - -
 Extracting source S-79
There was an issue with source S-79

 - - - - -
 Extracting source S-80
The following columns are present in the datasets, and this is the number of unique values they have.

 - - - - -
 Extracting source S-81
There was an issue with source S-81

 - - - - -
 Extracting source S-102
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 161 unique values.
The column geoAreaName has 161 unique values.
The column timePeriodStart has 20 unique values.
The column value has 167 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 64 unique values.
The column lowerBound has 49 unique values.
The column basePeriod has 1 unique values.
The column source has 544 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 37 unique values.
The column attributes.Nature has 2 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-125
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 58 unique values.
The column geoAreaName has 58 unique values.
The column timePeriodStart has 14 unique values.
The column value has 62 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 13 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 17 unique values.
The column attributes.Nature has 3 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 2 unique values.
The column dimensions.Sex has 2 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-160
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 211 unique values.
The column geoAreaName has 211 unique values.
The column timePeriodStart has 1 unique values.
The column value has 107 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-183
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 3 unique values.
The column target has 3 unique values.
The column indicator has 3 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 82 unique values.
The column geoAreaName has 82 unique values.
The column timePeriodStart has 5 unique values.
The column value has 90 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-184
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 3 unique values.
The column target has 3 unique values.
The column indicator has 3 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 141 unique values.
The column geoAreaName has 141 unique values.
The column timePeriodStart has 15 unique values.
The column value has 1193 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 2 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-185
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 3 unique values.
The column target has 3 unique values.
The column indicator has 3 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 98 unique values.
The column geoAreaName has 98 unique values.
The column timePeriodStart has 15 unique values.
The column value has 599 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-186
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 95 unique values.
The column geoAreaName has 95 unique values.
The column timePeriodStart has 15 unique values.
The column value has 84 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-187
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 87 unique values.
The column geoAreaName has 87 unique values.
The column timePeriodStart has 15 unique values.
The column value has 88 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-188
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 110 unique values.
The column geoAreaName has 110 unique values.
The column timePeriodStart has 15 unique values.
The column value has 79 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-198
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 181 unique values.
The column geoAreaName has 181 unique values.
The column timePeriodStart has 20 unique values.
The column value has 2025 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 3 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-202
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 141 unique values.
The column geoAreaName has 141 unique values.
The column timePeriodStart has 18 unique values.
The column value has 631 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 150 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 157 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.
The column dimensions.Quantile has 2 unique values.

 - - - - -
 Extracting source S-203
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 65 unique values.
The column geoAreaName has 65 unique values.
The column timePeriodStart has 19 unique values.
The column value has 3381 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 46 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 128 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Sex has 3 unique values.
The column dimensions.Type of occupation has 24 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-204
The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 127 unique values.
The column geoAreaName has 127 unique values.
The column timePeriodStart has 20 unique values.
The column value has 748 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 2 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 3 unique values.
The column dimensions.Sex has 3 unique values.
The column dimensions.Reporting Type has 1 unique values.

### JSON API sources

In [9]:
# JSON sources
api_sources = crba_data_dictionary_source[
    (crba_data_dictionary_source["SOURCE_TYPE"] == "API (SDG)")
]

# Loop to extract data from API sources
for index, row in api_sources.iterrows():
    print("\n - - - - - \n Extracting source {} \n".format(row["SOURCE_ID"]))
    try:
        dataframe = extract.JSONExtractor.extract(url = row["ENDPOINT_URL"])
        dataframe.to_csv(data_sources_raw / str(row["SOURCE_ID"] + "_raw.csv"))
    except:
        print("There was an issue with source {}".format(row["SOURCE_ID"]))

# TO DO: Also include JSON and HTML as extractor --> No other way to put it into the loop than eval()?

e column dimensions.Age has 5 unique values.
The column dimensions.Sex has 3 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-61

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 142 unique values.
The column geoAreaName has 142 unique values.
The column timePeriodStart has 15 unique values.
The column value has 375 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 1 unique values.
The column dimensions.Sex has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-62

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 208 unique values.
The column geoAreaName has 208 unique values.
The column timePeriodStart has 29 unique values.
The column value has 86 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 11 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-71

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 113 unique values.
The column geoAreaName has 113 unique values.
The column timePeriodStart has 4 unique values.
The column value has 66 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 2 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 2 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Sex has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-78

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 141 unique values.
The column geoAreaName has 141 unique values.
The column timePeriodStart has 18 unique values.
The column value has 631 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 150 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 157 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.
The column dimensions.Quantile has 2 unique values.

 - - - - -
 Extracting source S-79

There was an issue with source S-79

 - - - - -
 Extracting source S-80

The following columns are present in the datasets, and this is the number of unique values they have.

 - - - - -
 Extracting source S-81

There was an issue with source S-81

 - - - - -
 Extracting source S-102

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 161 unique values.
The column geoAreaName has 161 unique values.
The column timePeriodStart has 20 unique values.
The column value has 167 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 64 unique values.
The column lowerBound has 49 unique values.
The column basePeriod has 1 unique values.
The column source has 544 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 37 unique values.
The column attributes.Nature has 2 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-125

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 58 unique values.
The column geoAreaName has 58 unique values.
The column timePeriodStart has 14 unique values.
The column value has 62 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 13 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 17 unique values.
The column attributes.Nature has 3 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 2 unique values.
The column dimensions.Sex has 2 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-160

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 211 unique values.
The column geoAreaName has 211 unique values.
The column timePeriodStart has 1 unique values.
The column value has 107 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-183

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 3 unique values.
The column target has 3 unique values.
The column indicator has 3 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 82 unique values.
The column geoAreaName has 82 unique values.
The column timePeriodStart has 5 unique values.
The column value has 90 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-184

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 3 unique values.
The column target has 3 unique values.
The column indicator has 3 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 141 unique values.
The column geoAreaName has 141 unique values.
The column timePeriodStart has 15 unique values.
The column value has 1193 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 2 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-185

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 3 unique values.
The column target has 3 unique values.
The column indicator has 3 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 98 unique values.
The column geoAreaName has 98 unique values.
The column timePeriodStart has 15 unique values.
The column value has 599 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-186

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 95 unique values.
The column geoAreaName has 95 unique values.
The column timePeriodStart has 15 unique values.
The column value has 84 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-187

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 87 unique values.
The column geoAreaName has 87 unique values.
The column timePeriodStart has 15 unique values.
The column value has 88 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-188

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 110 unique values.
The column geoAreaName has 110 unique values.
The column timePeriodStart has 15 unique values.
The column value has 79 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-198

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 181 unique values.
The column geoAreaName has 181 unique values.
The column timePeriodStart has 20 unique values.
The column value has 2025 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 3 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-202

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 141 unique values.
The column geoAreaName has 141 unique values.
The column timePeriodStart has 18 unique values.
The column value has 631 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 150 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 157 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.
The column dimensions.Quantile has 2 unique values.

 - - - - -
 Extracting source S-203

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 65 unique values.
The column geoAreaName has 65 unique values.
The column timePeriodStart has 19 unique values.
The column value has 3381 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 46 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 128 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Sex has 3 unique values.
The column dimensions.Type of occupation has 24 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Extracting source S-204

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 127 unique values.
The column geoAreaName has 127 unique values.
The column timePeriodStart has 20 unique values.
The column value has 748 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 2 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 3 unique values.
The column dimensions.Sex has 3 unique values.
The column dimensions.Reporting Type has 1 unique values.

In [5]:
# Extract data
s55_raw = extract.CSVExtractor.extract(url =
    'https://api.uis.unesco.org/sdmx/data/UNESCO,SDG4,2.0/ROFST.PT.L2+L2_3+L3._T._T+F+M.SCH_AGE_GROUP._T.INST_T._Z._T._Z._Z._Z._T._T._Z._Z._Z.?startPeriod=2005&endPeriod=2018&format=csv-sdmx&locale=en&subscription-key=460ab272abdd43c892bb59c218c22c09'
)

# s55_raw.to_csv(data_sources_raw / "S_55_raw.csv")

The following columns are present in the datasets, and this is the number of unique values they have.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 3 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column SUBJECT has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column INFRASTR has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column SOURCE_FUND has 1 unique values.
The column FUND_FLOW has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column REF_AREA has 326 unique values.
The column TIME_PERIOD has 14 unique values.
The column OBS_VALUE has 26627 unique values.
The column UNIT_MULT has 1 unique values.
The column OBS_STATUS has 3 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.

# Cleansing


< STOPPED HERE , the below code runs (but have to define tha mapping_dict first) --> Next step is to Bring this thing into a loop and take care of the exceptions

In [6]:
import cleanse
import pandas as pd

s102_raw = pd.read_csv(
    filepath_or_buffer = data_sources_raw / "S-102_raw.csv"
)

s102_cleansed = cleanse.Cleanser().cleanse(
    raw_data = s102_raw,
    mapping_dictionary = mapping_dict,
    final_sdmx_col_list = sdmx_df_columns_all,
    dim_cols = sdmx_df_columns_dims,
    country_cols = sdmx_df_columns_country,
    time_cols = sdmx_df_columns_time,
    crba_country_list = country_crba_list
)

s102_cleansed

['TIME_PERIOD']
Index(['Unnamed: 0', 'DIM_SDG_GOAL', 'target', 'indicator', 'series',
       'ATTR_SDG_INDICATOR_DESCRIPTION', 'seriesCount', 'geoAreaCode',
       'REF_AREA', 'TIME_PERIOD', 'RAW_OBS_VALUE', 'valueType', 'time_detail',
       'timeCoverage', 'upperBound', 'lowerBound', 'basePeriod',
       'ATTR_SOURCE_OF_SOURCE', 'geoInfoUrl', 'ATTR_FOOTNOTE_OF_SOURCE',
       'attributes.Nature', 'ATTR_UNIT_MEASURE', 'DIM_AGE', 'DIM_REP_TYPE'],
      dtype='object')
['TIME_PERIOD']
    DIM_SDG_GOAL                     ATTR_SDG_INDICATOR_DESCRIPTION  \
0          ['2']  Proportion of children moderately or severely ...
1          ['2']  Proportion of children moderately or severely ...
2          ['2']  Proportion of children moderately or severely ...
3          ['2']  Proportion of children moderately or severely ...
4          ['2']  Proportion of children moderately or severely ...
..           ...                                                ...
652        ['2']  Proportion of children moderately or severely ...
653        ['2']  Proportion of children moderately or severely ...
654        ['2']  Proportion of children moderately or severely ...
655        ['2']  Proportion of children moderately or severely ...
656        ['2']  Proportion of children moderately or severely ...

        REF_AREA  TIME_PERIOD  RAW_OBS_VALUE  \
0    Afghanistan       2004.0            4.6
1    Afghanistan       2013.0            5.3
2    Afghanistan       2018.0            4.1
3        Albania       2000.0           30.1
4        Albania       2005.0           24.8
..           ...          ...            ...
652     Zimbabwe       2009.0            3.5
653     Zimbabwe       2010.0            5.8
654     Zimbabwe       2014.0            3.6
655     Zimbabwe       2015.0            5.6
656     Zimbabwe       2019.0            2.5

                                 ATTR_SOURCE_OF_SOURCE  \
0    Summary report of the national nutrition surve...
1          Afghanistan National Nutrition Survey 2013.
2                       Afghanistan Health Survey 2018
3    Multiple indicator cluster survey report Alban...
4    Albania multiple indicator cluster survey 2005...
..                                                 ...
652  Zimbabwe multiple indicator monitoring survey ...
653  Zimbabwe demographic and health survey 2010-11...
654  Zimbabwe Multiple Indicator Cluster Survey 201...
655  Zimbabwe Demographic and Health Survey 2015, N...
656    Zimbabwe Multiple Indicator Cluster Survey 2019

    ATTR_FOOTNOTE_OF_SOURCE ATTR_UNIT_MEASURE DIM_AGE DIM_REP_TYPE
0                      ['']        PER_POP_U5     <5Y            G
1                      ['']        PER_POP_U5     <5Y            G
2                      ['']        PER_POP_U5     <5Y            G
3                      ['']        PER_POP_U5     <5Y            G
4                      ['']        PER_POP_U5     <5Y            G
..                      ...               ...     ...          ...
652                    ['']        PER_POP_U5     <5Y            G
653                    ['']        PER_POP_U5     <5Y            G
654                    ['']        PER_POP_U5     <5Y            G
655                    ['']        PER_POP_U5     <5Y            G
656                    ['']        PER_POP_U5     <5Y            G

[657 rows x 10 columns]
    DIM_SDG_GOAL                     ATTR_SDG_INDICATOR_DESCRIPTION  \
2          ['2']  Proportion of children moderately or severely ...
6          ['2']  Proportion of children moderately or severely ...
10         ['2']  Proportion of children moderately or severely ...
11         ['2']  Proportion of children moderately or severely ...
13         ['2']  Proportion of children moderately or severely ...
..           ...                                                ...
637        ['2']  Proportion of children moderately or severely ...
642        ['2']  Proportion of children moderately or severely ...
646        ['2']  Proportion of children moderately or severely ...
650        ['2']  Proportion of children moderately or severely ...
656        ['2']  Proportion of children moderately or severely ...

         REF_AREA  TIME_PERIOD  RAW_OBS_VALUE  \
2     Afghanistan       2018.0            4.1
6         Albania       2017.0           16.4
10        Algeria       2012.0           12.4
11         Angola       2015.0            3.4
13      Argentina       2019.0           10.0
..            ...          ...            ...
637  Western Asia       2019.0            8.4
642         World       2019.0            5.6
646         Yemen       2013.0            2.5
650        Zambia       2018.0            5.2
656      Zimbabwe       2019.0            2.5

                                 ATTR_SOURCE_OF_SOURCE  \
2                       Afghanistan Health Survey 2018
6    Albania Demographic and Health Survey 2017-18....
10   République Algérienne Démocratiqe et Populaire...
11   Inquérito de Indicadores Múltiplos e de Saúde ...
13   Segunda Encuesta Nacional de Nutricion y Salud...
..                                                 ...
637  Source: Joint Child Malnutrition Estimates (20...
642  Source: Joint Child Malnutrition Estimates (20...
646  Yemen National Health and Demographic Survey 2...
650  Zambia Demographic and Health Survey 2018: Key...
656    Zimbabwe Multiple Indicator Cluster Survey 2019

                       ATTR_FOOTNOTE_OF_SOURCE ATTR_UNIT_MEASURE DIM_AGE  \
2                                         ['']        PER_POP_U5     <5Y
6                                         ['']        PER_POP_U5     <5Y
10                                        ['']        PER_POP_U5     <5Y
11                                        ['']        PER_POP_U5     <5Y
13   ['overweight using BMI-for-age z-scores']        PER_POP_U5     <5Y
..                                         ...               ...     ...
637                                       ['']        PER_POP_U5     <5Y
642                                       ['']        PER_POP_U5     <5Y
646                                       ['']        PER_POP_U5     <5Y
650                                       ['']        PER_POP_U5     <5Y
656                                       ['']        PER_POP_U5     <5Y

    DIM_REP_TYPE
2              G
6              G
10             G
11             G
13             G
..           ...
637            G
642            G
646            G
650            G
656            G

[161 rows x 10 columns]
['DIM_SDG_GOAL', 'DIM_AGE', 'DIM_REP_TYPE']

,DIM_SDG_GOAL,ATTR_SDG_INDICATOR_DESCRIPTION,REF_AREA,TIME_PERIOD,RAW_OBS_VALUE,ATTR_SOURCE_OF_SOURCE,ATTR_FOOTNOTE_OF_SOURCE,ATTR_UNIT_MEASURE,DIM_AGE,DIM_REP_TYPE,_merge
0,['2'],Proportion of children moderately or severely ...,Afghanistan,2018.0,4.1,Afghanistan Health Survey 2018,[''],PER_POP_U5,<5Y,G,both
1,['2'],Proportion of children moderately or severely ...,Albania,2017.0,16.4,Albania Demographic and Health Survey 2017-18....,[''],PER_POP_U5,<5Y,G,both
2,_T,NaN,Andorra,NaN,NaN,NaN,NaN,NaN,_T,_T,right_only
3,['2'],Proportion of children moderately or severely ...,Algeria,2012.0,12.4,République Algérienne Démocratiqe et Populaire...,[''],PER_POP_U5,<5Y,G,both
4,['2'],Proportion of children moderately or severely ...,Angola,2015.0,3.4,Inquérito de Indicadores Múltiplos e de Saúde ...,[''],PER_POP_U5,<5Y,G,both
...,...,...,...,...,...,...,...,...,...,...,...
190,_T,NaN,Venezuela,NaN,NaN,NaN,NaN,NaN,_T,_T,right_only
191,_T,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,_T,_T,right_only
192,['2'],Proportion of children moderately or severely ...,Yemen,2013.0,2.5,Yemen National Health and Demographic Survey 2...,[''],PER_POP_U5,<5Y,G,both
193,['2'],Proportion of children moderately or severely ...,Zambia,2018.0,5.2,Zambia Demographic and Health Survey 2018: Key...,[''],PER_POP_U5,<5Y,G,both
194,['2'],Proportion of children moderately or severely ...,Zimbabwe,2019.0,2.5,Zimbabwe Multiple Indicator Cluster Survey 2019,[''],PER_POP_U5,<5Y,G,both

In [13]:
# from utils import mapping_dictionary
# %run utils.mapping_dictionary.py

# %run "D:\Documents\2020\28_UNICEF\10_working_repo\data-etl\utils\mapping_dictionary.py"

country_tuple = ("REF_AREA", "COUNTRY")
country_mapper = {key: "REF_AREA" for key in country_tuple}


year_tuple = (
    "TIME_PERIOD",
    "YEAR",
)
year_mapper = {key: "TIME_PERIOD" for key in year_tuple}


obs_value_tuple = ("OBS_VALUE", "Display Value")
obs_value_mapper = {key: "OBS_VALUE" for key in obs_value_tuple}


dim_sex_tuple = "SEX"
dim_sex_mapper = {key: "OBS_VALUE" for key in obs_value_tuple}

"""
dim_edu_tuple = (
    ""
)

dim_age_tuple = (
    "SEX"
)
"""

# Create list of all mapper dictionaries
mapper_tuple_list = [country_mapper, year_mapper, obs_value_mapper, dim_sex_mapper]

# Define the mapping dictionary
mapping_dict = {}

for mapper_tuple in mapper_tuple_list:
    mapping_dict.update(mapper_tuple)

with open("mapping_dict.json", "w") as fp:
    json.dump(mapping_dict, fp)

In [21]:
year_tuple = (
    "TIME_PERIOD",
    "YEAR", 
)

x = {key: "xxx" for key in country_tuple}
y = {key: "yyy" for key in year_tuple}

x.update(y)
x}
y = {key: "yyy" for key in year_tuple}

x.update(y)
x

{'REF_AREA': 'xxx', 'COUNTRY': 'xxx', 'TIME_PERIOD': 'yyy', 'YEAR': 'yyy'}

In [8]:
s55_cleansed = cleanse.Cleanser.cleanse(
    raw_data = s55_raw,
    raw_data_iso_2_col = 'REF_AREA',
    country_df = country_crba_list,
    country_df_iso2_col = 'COUNTRY_ISO_2',
    non_dim_cols = ['OBS_VALUE', 'TIME_PERIOD', 'OBS_STATUS']
)

s55_cleansed.to_csv(data_sources_raw / "S_55_cleansed.csv")

In [9]:
from normalize.scaler import normalizer

s55_normalized = normalizer(
    cleansed_data = s55_cleansed,
    indicator_raw_value = 'OBS_VALUE',
    indicator_code = 'WP_DW_OC_FREASS',
    indicator_name = 'Out-of-school adolescents (lower secondary)',
    indicator_index = 'Workplace',
    indicator_issue = 'Decent working conditions',
    indicator_category = 'Outcome',
    cleansed_df_iso2_col = 'REF_AREA',
    crba_final_country_list = country_crba_list,
    crba_final_country_list_iso_col = 'COUNTRY_ISO_2',
    inverted = True,
    non_dim_cols = [
        'TIME_PERIOD', 
        'REF_AREA', 
        'OBS_VALUE', 
        'OBS_STATUS', 
        'COUNTRY_ISO_3', 
        'COUNTRY_NAME', 
        'COUNTRY_ISO_2', 
        '_merge'
    ])

s55_normalized

You have a selected a few columns, which will not be regarded as dimensions.These are the remaining columns in the dataset, along with the number of values they take in the dataset.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 3 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column SUBJECT has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column INFRASTR has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column SOURCE_FUND has 1 unique values.
The column FUND_FLOW has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column UNIT_MULT has 1 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.
The total number of subgroups in the dataset is therefore: 9

 -

In the loop we are currently dealing with the subset #1, which has these defining values:

 Empty DataFrame
Columns: [Dataflow, STAT_UNIT, UNIT_MEASURE, EDU_LEVEL, EDU_CAT, SEX, AGE, GRADE, SECTOR_EDU, EDU_ATTAIN, SUBJECT, WEALTH_QUINTILE, INFRASTR, LOCATION, EDU_TYPE, SE_BKGRD, SOURCE_FUND, FUND_FLOW, IMM_STATUS, UNIT_MULT, FREQ, DECIMALS]
Index: []

[0 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (0, 30)


Dataframe is empty. There are no values to append.

 This is the end of loop #1.
 -


 -

In the loop we are currently dealing with the subset #2, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1387  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1387  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1387       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1387        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (163, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 43.630325000000006
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.00589. This value corresponds to country: 739    Lithuania
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #2.
 -


 -

In the loop we are currently dealing with the subset #3, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1395  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1395  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1395       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1395        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (160, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 83.84053. This value corresponds to country: 1317    Tanzania
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.67013. This value corresponds to country: 128    Belgium
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #3.
 -


 -

In the loop we are currently dealing with the subset #4, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1394  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1394  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1394       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1394        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (160, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 89.7091. This value corresponds to country: 255    Central African Republic
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.07972. This value corresponds to country: 941    New Zealand
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #4.
 -


 -

In the loop we are currently dealing with the subset #5, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1393  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1393  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1393       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1393        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (165, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 86.14805. This value corresponds to country: 958    Niger
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06444. This value corresponds to country: 931    Netherlands
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #5.
 -


 -

In the loop we are currently dealing with the subset #6, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1392  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1392  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1392       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1392        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (161, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 65.25736
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.08982000000000001. This value corresponds to country: 1193    Singapore
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #6.
 -


 -

In the loop we are currently dealing with the subset #7, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1391  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1391  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1391       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1391        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (161, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 66.091475
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06039. This value corresponds to country: 616    Ireland
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #7.
 -


 -

In the loop we are currently dealing with the subset #8, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1390  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1390  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1390       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1390        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (162, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 69.8756925
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.07741. This value corresponds to country: 1191    Singapore
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #8.
 -


 -

In the loop we are currently dealing with the subset #9, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1389  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1389  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1389       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1389        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (155, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 43.3836
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06477999999999999. This value corresponds to country: 656    Kazakhstan
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #9.
 -


 -

In the loop we are currently dealing with the subset #10, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1388  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1388  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1388       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1388        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (155, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 45.940870000000004
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.09435. This value corresponds to country: 740    Lithuania
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #10.
 -

The number of rows of the final dataframe (before the conversion from wide to long format is) is divisible by 195. It is: (585, 38)

,Dataflow,STAT_UNIT,UNIT_MEASURE,EDU_LEVEL,EDU_CAT,SEX,AGE,GRADE,SECTOR_EDU,EDU_ATTAIN,...,COUNTRY_ISO_3_y,COUNTRY_NAME_y,COUNTRY_ISO_2_y,RJ_CRBA_FULL_LIST,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,CRBA_RELEASE_YEAR,INDICATOR_CODE
0,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,AFG,Afghanistan,AF,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
1,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,ALB,Albania,AL,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AND,Andorra,AD,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DZA,Algeria,DZ,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
4,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,AGO,Angola,AO,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,VEN,Venezuela,VE,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VNM,Vietnam,VN,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
192,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,YEM,Yemen,YE,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ZMB,Zambia,ZM,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
194,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,ZWE,Zimbabwe,ZW,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS